body{
    margin:0;
    font-family: Arial;
    background:#f2f2f2;
}

header{
    background:#2b3d4f;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#1f2a36;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.container{
    padding:20px;
}

.books{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}

.book{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    text-align:center;
}

.book img{
    width:150px;
    height:200px;
}

button{
    background:#28a745;
    border:none;
    padding:10px 15px;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#218838;
}

.sell{
    background:white;
    padding:20px;
    margin-top:30px;
    border-radius:10px;
}

footer{
    background:#2b3d4f;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:30px;
}
